<header>
  <h1>Bed Booking Display</h1>
  <button id="book-button" data-target="book-button" data-toggle="modal">Book this Bed</button>
</header>
<div id="calendar"></div>
<div class="modal fade" id="new-patient-modal" tabindex="-1" aria-labelledby="new-patient-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="new-patient-form">
        <div class="modal-header custom-modal-header">
          <h5 class="modal-title" id="new-patient-modal-label">Add a new Patient</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="patient-firstname-input">Patient first Name</label>
              <input type="text" id="patient-firstname-input" class="form-control" placeholder="Enter the patient's first name"/>
          </div>
          <div class="mb-3">
            <label for="patient-secondname-input">Patient second Name</label>
            <input type="text" id="patient-secondname-input" class="form-control" placeholder="Enter the patient's second name"/>
          </div>
          <div class="mb-3">
            <label for="postcode">Postcode</label>
            <input type="text" id="postcode" class="form-control" placeholder="Enter the patient's postcode"/>
          </div>
          <div class="mb-3">
            <label for="phone">Patient's phone number</label>
            <input type="text" id="patientphonenumber" class="form-control" placeholder="Enter the patient's phone number"/>
          </div>
          <div class="mb-3">
            <label for="dateadmitted">Date admitted</label>
            <input type="text" id="dateadmitted" class="form-control" placeholder="Enter the patient's admission date"/>
          </div>
          <div class="mb-3">
            <label for="datedischarged">Date datedischarged</label>
            <input type="text" id="datedischarged" class="form-control" placeholder="Enter the patient's discharge date"/>
          </div>
            <select id="doctor-type" class="form-select">
              <option value="Stewart Johnson">Stewart Johnson</option>
              <option value="Krystal Meyers">Krystal Meyers</option>
              <option value="Ian Kelly">  Ian Kelly</option>
              <option value="Harry Cornish">Harry Cornish</option>
              <option value="Gabrielle Lambert">Gabrielle Lambert</option>
            </select>
          <div class="mb-3">
            <label for="medicalcondition">Medical Condition</label>
            <input type="date" id="medicalcondition" class="form-control"/>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-custom" data-bs-dismiss="modal">Add Patient</button>
        </div>
      </form>
    </div>
  </div>
</div>
    <script>
    /// this gets rendered into the head of the calender page.
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        console.log(calendarEl);
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          initialDate: '2023-02-07',
          headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay'
          },
            events: 
            {{{data}}}
        });    
        calendar.render();
      });
  </script>
  <script>
  var myModal = new bootstrap.Modal(document.getElementById('new-patient-modal'))
  var showButton = document.getElementById('book-button');
    myModal.hide();
  showButton.addEventListener("click", showModal); 
  function showModal() {
    myModal.show();
  }
</script>


