<header>
  <h1>Bed Booking Display</h1>
  <button type="button">New Booking</button>
</header>
<div id="calendar"></div>
    <script>
    /// this gets rendered into the head of the calender page.
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        console.log(calendarEl);
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          initialDate: '2023-02-07',
          headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay'
          },
            events: 
            {{{data}}}
        });    
        calendar.render();
      });
  </script>

