:root {
    --blue: #0c3559;
    --darkblue: #092640;
    --seablue: #687b8c;
    --lightseablue: #aab9bf;
    --light: #f2f2f2;
  }

  body {
    font-family: "Open Sans", sans-serif;
  }

  h1, h2, h3, h4, h5, h6, .font-primary {
    font-family: "Roboto", sans-serif;
  }
  
  .custom-navbar {
    background-color: var(--darkblue);
  }
  
  .custom-navbar a {
    font-size: 1.5rem;
    color: var(--lightseablue);
  }
  
  .custom-navbar a:hover {
    color: var(--light);
  }
  
  .hero {
    background-color: var(--seablue);
    color: var(--darkblue);
  }
  
  .custom-btn {
    background-color: var(--light);
    color: var(--blue);
  }
  
  .custom-btn:hover {
    background-color: var(--darkblue);
    color: var(--light);
  }

  /* -------------------- LogIN box--------------------------*/

  *{
    margin: 0;
    padding: 0;
  }
  .log-box-login{
    width: 600px;
    background: rgba(0,0,0,0.8);
    margin: 5% auto;
    padding: 60px 0;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
    color: #fff;
  }
  .log-box-login h1{
    text-align: center;
    margin-bottom: 40px;
    color:rgb(166, 221, 253)
  }
  .log-box-registration{
    width: 1000px;
    background: rgba(0,0,0,0.8);
    margin: 5% auto;
    padding: 60px 0;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
    color: #fff;
  }
  .log-box-registration h1{
    text-align: center;
    margin-bottom: 40px;
    color:rgb(166, 221, 253)
  }
  .input-user{
    margin: 31px auto;
    width: 80%;
    border-bottom: 1px solid #fff;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 20px;
  }
  .input-user input{
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
  }
  .fa{
    margin-right: 10px;
  }
  .hideShowPassword{
    position: absolute;
  }
  #hide1{
    display: none;
  }
  .login-btn{
    margin: 40px auto 20px;
    width: 80%;
    display: block;
    outline: none;
    padding: 10px 0;
    border: 1px solid #fff;
    cursor: pointer;
    background: transparent;
    color: #fff;
    font-size: 16px;
  }
  .login-btn{
    text-decoration: none;
    color: #fff;
    background: transparent;
    cursor: pointer;
  }
  .login-btn:hover{
    border: 1px solid #fff;
    background: #f44336;
    transition: 0.5s;
  }
  .text-box{
    background-color: var(--darkblue);
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }
  .text-box h4{
    color: #fff;
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
  }
/*----------------------------- Bed/Home Page Section ---------------------------*/

.jumbotron {
  border-radius: 0;
}

.bed-card {
  box-shadow: 5px 5px 5px gray;
  margin: 1rem;
  border: none;
}

.card-body {
  background-color: rgb(240, 240, 240);
  width: 100%;
}


  /*----------------------------- patient info section ---------------------------*/

  table {
    font-size: 25px;
    margin-top: 15px;
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f10606;
  }
  
  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* add a subtle shadow to the image */
  }

  
  /*----------------------------- footer section ---------------------------*/

  footer {
    background: #0b212d;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
  }
  footer .footer-newsletter {
    padding: 50px 0;
    background: #0d2735;
  }
  footer .footer-newsletter h4 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    color: #a2cce3;
  }
  footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
  }
  footer .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px;
    width: calc(100% - 100px);
  }
  footer .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    margin: 3px;
    background: #68A4C4;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
  }
  footer .footer-newsletter form input[type=submit]:hover {
    background: #468db3;
  }
  footer .footer-top {
    background: #0d2735;
    border-top: 1px solid #17455e;
    border-bottom: 1px solid #123649;
    padding: 60px 0 30px 0;
  }
  footer .footer-top .footer-info {
    margin-bottom: 30px;
  }
  footer .footer-top .footer-info h3 {
    font-size: 18px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    color: #a2cce3;
    font-weight: 600;
  }
  footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
    color: #fff;
  }
  footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #1e4356;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  footer .footer-top .social-links a:hover {
    background: #68A4C4;
    color: #fff;
    text-decoration: none;
  }
  footer .footer-top h4 {
    font-size: 18px;
    font-weight: 600;
    color: #a2cce3;
    position: relative;
    padding-bottom: 12px;
  }
  footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #a2cce3;
    font-size: 18px;
    line-height: 1;
  }
  footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  footer .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
    font-size: 14px;
  }
  footer .footer-top .footer-links ul a:hover {
    color: #a2cce3;
  }
  footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }
  footer .footer-top .footer-contact p {
    line-height: 26px;
  }
  footer .copyright {
    text-align: center;
    padding-top: 30px;
  }
  footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
  }
  footer .credits a {
    color: #a2cce3;
  }
  
  